.video {
  padding-block: 71px;

  background-color: var(--color-dark-alternate);
}

.video-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-wrapper-title {
  margin-bottom: 28px;

  font-family: Montserrat;
  font-weight: 700;
  font-size: clamp(20px, 3.66vw, var(--size-title));
  line-height: 38px;
  color: var(--color-light);
}

.video-wrapper-subtitle {
   max-width: 607px;
   margin-bottom: 55px;

  font-family: Montserrat;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.25;
  text-align: center;
  color: var(--color-light);
}

.video-wrapper-video{
   border-radius: 37px;
}